.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("fonts/fonts.css");
@import url("fonts/fontello/css/fontello.css");
@import url("fonts/font-awesome/css/font-awesome.min.css");

/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   f. Call To Action Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  overflow-x: hidden;
}

input {
  width: inherit;
}
/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

img.divider {
  width: 15%;
}

img.divider.transform {
  width: 15%;
  transform: rotate(0.5turn);
}

.title {
  font-size: 30px;
  font-family: serif;
  text-transform: uppercase;
  margin-block-start: 0.3em;
}

hr.bookends {
  border: 0;
  margin: 1.35em 0 1.35em auto;
  max-width: 50%;
  box-sizing: border-box;
  height: 20px;
  background-image: radial-gradient(
    closest-side,
    #90bca2,
    hsla(0, 0%, 50%, 0) 100%
  );
  position: relative;
}

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;

  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(111, 155, 128, 0.4),
      rgba(255, 255, 255, 1)
    ),
    url("./images/headerPicture.png");
  background-position: left; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  text-align: right;
}

header .banner h3 {
  font-family: serif;
  font-weight: bolder;
  font-size: 36px;
  color: #2e483f;
  text-shadow: 0 0 darkgreen;
}

header .banner-text {
  width: 100%;
  font-family: "alex-regular";
  font-size: 100px;
  color: #0c381e;
  margin-block-end: 0px;
}

/* header social links */
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
header .social li a {
  color: #fff;
}
header .social li a:hover {
  color: darkgreen;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #6f9b80;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
  color: darkgreen;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bolder;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque {
  background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

#nav-wrap > h3 {
  position: absolute;
  font-family: "alex-regular";
  margin-left: 10px;
  margin-top: 8px;
  font-size: 30px;
  text-transform: capitalize;
  color: white;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: right;
  background-color: #6f9b80;
  margin-top: none;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

ul#nav li.languages {
  display: inline-flex;
  line-height: 16px;
  text-decoration: none;
  text-align: left;
  color: #fff;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li.languages > hr {
  height: 26px;
}

ul#nav li.languages > p {
  margin-left: 8px;
  margin-right: 8px;
}

ul#nav li.languages > p.selected {
  color: darkgreen;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  color: darkgreen;
}

ul#nav li a:hover {
  color: darkgreen;
}

ul#nav li a:selection {
  color: darkgreen;
}

ul#nav li.selected {
  color: darkgreen;
}
ul#nav li.current a:hover {
  color: darkgreen;
}

/* ------------------------------------------------------------------ */
/* c. Invitation Section
/* ------------------------------------------------------------------ */
#invitation {
  color: #2e483f;
  font-family: serif;
  padding-top: 50px;
  padding-bottom: 66px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgb(111, 155, 128, 0.05),
    rgb(111, 155, 128, 0.1),
    rgb(111, 155, 128, 0.1),
    rgb(111, 155, 128, 0.1),
    rgb(111, 155, 128, 0.1),
    rgb(111, 155, 128, 0.1),
    rgb(111, 155, 128, 0.1),
    rgb(111, 155, 128, 0.05),
    rgba(255, 255, 255, 1)
  );
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
.aboutTransition {
  margin-bottom: -3px;
}
#about {
  padding-top: 50px;
  padding-bottom: 66px;
  overflow: hidden;
  color: #2e483f;
  font-family: serif;
}

#about .aboutCaps {
  text-transform: uppercase;
}

#about img.foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#about img.lokiImage {
  margin-top: -20px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#about div.inlineFlex {
  display: inline-flex;
}

#about div.info {
  margin: 0px 30px;
  align-self: center;
}

#about div.info.loki {
  margin: 0px 30px;
  padding-left: 22px;
}

#about div.info.left {
  text-align: right;
  display: initial;
}

#about div.info.right {
  text-align: left;
  display: initial;
}

#about div.mobileInfo {
  display: none;
}

/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
  opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
  opacity: 0;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slides li {
  margin: 0;
  padding: 0;
}

/* Necessary Styles */
.flexslider {
  position: relative;
  zoom: 1;
  margin: 0;
  padding: 0;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides > li {
  position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
  zoom: 1;
  position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
  content: " ";
  display: table;
}
.slides:after {
  clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* Slider Styles */
.slides {
  zoom: 1;
}
.slides > li {
  /*margin-right: 5px; */
  overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -20px;
  text-align: left;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 12px;
  height: 12px;
  display: block;
  background: #ddd;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}
.flex-control-paging li a:hover {
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

/* ------------------------------------------------------------------ */
/* c. Events Section
/* ------------------------------------------------------------------ */
#events {
  padding-top: 50px;
  padding-bottom: 66px;
  font-family: serif;
  color: #2e483f;
}

#events h4,
h3 {
  font-style: italic;
}

#events div.eventsFlex {
  display: inline-flex;
}

#events div.eveniment {
  margin: 0px 60px;
}

#events iframe.eventMap {
  border: 0px;
  width: 450px;
  height: 450px;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#rsvp {
  padding-top: 50px;
  padding-bottom: 102px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgb(111, 155, 128, 0.3),
    rgb(111, 155, 128, 0.5),
    rgb(111, 155, 128, 0.5),
    rgb(111, 155, 128, 0.5),
    rgb(111, 155, 128, 0.4),
    rgb(111, 155, 128, 0.4),
    rgb(111, 155, 128, 0.4)
  );
  color: #636363;
}

#rsvp h4 {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: #ebeeee;
  margin-bottom: 6px;
}
#rsvp p.lead {
  font-size: 18px;
  font-family: sans-serif;
  padding-right: 3%;
}
#rsvp .header-col {
  padding-top: 6px;
}

/* rsvp form */
#rsvp form {
  margin-bottom: 30px;
}
#rsvp form fieldset {
  border-width: 0px;
}
#rsvp label {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 12px 0;
  color: #ebeeee;
  display: inline-block;
  float: left;
  width: 26%;
}
#rsvp input,
#rsvp textarea,
#rsvp select {
  padding: 10px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
}
#rsvp input:focus,
#rsvp textarea:focus,
#rsvp select:focus {
  color: #fff;
  background-color: darkgreen;
}
#rsvp button.submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background: #0d0d0d;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 0px;
  margin-left: 26%;
}
#rsvp button.submit:hover {
  color: #0d0d0d;
  background: #fff;
}
#rsvp span.required {
  color: darkgreen;
  font-size: 13px;
}
#message-warning,
#message-success {
  display: none;
  background: #0f0f0f;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}
#message-warning {
  color: #d72828;
}
#message-success {
  color: darkgreen;
}

#message-warning i,
#message-success i {
  margin-right: 10px;
}
#image-loader {
  display: none;
  position: relative;
  left: 18px;
  top: 17px;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

.footerTransition {
  margin-bottom: -4px;
  margin-top: -360px;
  display: initial;
}

.footerTransitionMobile {
  display: none;
}

footer {
  padding-top: 10px;
  background-color: #7da58c;
  font-size: 14px;
  text-align: center;
  position: relative;
  font-family: serif;
  color: #2e483f;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 0;
}

footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bolds;
}
.ie footer .copyright li {
  display: inline;
}
footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  color: #095153;
}
footer .copyright li:first-child:before {
  display: none;
}

/* social links */
footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -64px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}
#go-top a:hover {
  color: #2e483f;
}

/* ==================================================================

*   Ceevee Media Queries
*   url: styleshout.com
*   03-18-2014

/* ================================================================== */

/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  /* header styles
 ------------------------------------------------------------------ */
  header .banner-text h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -1px;
    margin: 0 auto 12px auto;
  }

  #about img.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  #about img.lokiImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 0px;
  }

  #about div.info.loki {
    margin: 0px;
    padding-left: 0px;
  }
}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  /* header styles
 ------------------------------------------------------------------ */
  header .banner {
    padding-bottom: 12px;
  }

  header .banner h3 {
    font-size: 26px;
  }

  header .banner-text {
    font-size: 80px;
  }

  hr.bookends {
    max-width: 70%;
  }

  /* nav-wrap */
  #nav-wrap {
    font-size: 11px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1.5px;
  }

  /* About Section
 ------------------------------------------------------------------- */

  #about img.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  #about img.lokiImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 0px;
  }

  #about div.inlineFlex {
    display: block;
  }

  #about div.info.loki {
    margin: 0px;
    padding-left: 0px;
  }

  #about div.info.left {
    text-align: right;
    display: none;
  }

  #about div.info.right {
    text-align: left;
    display: none;
  }

  #about div.mobileInfo {
    display: initial;
  }

  #events div.eventsFlex {
    display: inline-block;
  }

  /* Contact Section
 ------------------------------------------------------------------- */
}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  /* mobile navigation
 -------------------------------------------------------------------- */
  #nav-wrap {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    background: transparent !important;
    letter-spacing: 1.5px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
  }
  #nav-wrap > a {
    margin-top: 10px;
    width: 48px;
    height: 48px;
    text-align: left;
    background-color: #6f9b80;
    position: relative;
    border: none;
    float: right;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;

    position: relative;
    top: 0px;
    right: 30px;
  }

  #nav-wrap > a:before,
  #nav-wrap > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: "";
  }
  #nav-wrap > a:after {
    top: 60%;
  }

  #nav-wrap > h3 {
    display: none;
  }

  /* toggle buttons */
  #nav-wrap:not(:target) > a:first-of-type,
  #nav-wrap:target > a:last-of-type {
    display: block;
  }

  /* hide menu panel */
  #nav-wrap ul#nav {
    height: auto;
    display: none;
    clear: both;
    width: auto;
    float: right;

    position: relative;
    top: 12px;
    right: 0;
  }

  /* display menu panels */
  #nav-wrap:target > ul#nav {
    display: block;
    padding: 30px 20px 48px 20px;
    background: #6f9b80;
    margin: 0 30px;
    clear: both;
  }

  ul#nav li {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
    text-align: left;
    border-bottom: 1px solid #2d2e34;
    border-bottom-style: dotted;
  }

  ul#nav li a {
    display: block;
    margin: 0;
    padding: 0;
    margin: 12px 0;
    line-height: 16px; /* reset line-height from 48px */
    border: none;
  }

  /* Header Styles
 -------------------------------------------------------------------- */
  header .banner {
    padding-bottom: 12px;
    padding-top: 6px;
  }

  header .banner h3 {
    font-size: 24px;
  }

  header .banner-text {
    font-size: 66px;
  }

  hr.bookends {
    max-width: 100%;
  }

  /* scrolldown link */
  header .scrolldown {
    display: none;
  }

  /* About Section
 -------------------------------------------------------------------- */

  #about img.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  #about img.lokiImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0px;
  }

  #about div.inlineFlex {
    display: block;
  }

  #about div.info.loki {
    margin: 0px;
    padding-left: 0px;
  }

  #about div.info.left {
    text-align: right;
    display: none;
  }

  #about div.info.right {
    text-align: left;
    display: none;
  }

  #about div.mobileInfo {
    display: initial;
  }

  /* rsvp Section
 ----------------------------------------------------------------------- */
  #rsvp {
    padding-bottom: 66px;
  }
  #rsvp .section-head {
    margin-bottom: 12px;
  }
  #rsvp .section-head h1 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  #rsvp h1 span {
    display: block;
  }
  #rsvp .header-col {
    padding-top: 0;
  }
  #rsvp .header-col h1:before {
    content: none;
  }
  #rsvp .section-head p.lead {
    text-align: center;
  }

  /* form */
  #rsvp label {
    float: none;
    width: 100%;
  }
  #rsvp input,
  #rsvp textarea,
  #rsvp select {
    margin-bottom: 6px;
  }
  #rsvp button.submit {
    margin: 30px 0 24px 0;
  }
  #message-warning,
  #message-success {
    width: 100%;
    margin-left: 0;
  }

  /* footer
 ------------------------------------------------------------------------ */

  /* copyright */
  footer .copyright li:before {
    content: none;
  }
  footer .copyright li {
    margin-right: 12px;
  }

  /* social links */
  footer .social-links {
    font-size: 22px;
  }
  footer .social-links li {
    margin-left: 18px;
  }

  /* Go To Top Button */
  #go-top {
    margin-left: -22px;
  }
  #go-top a {
    width: 54px;
    height: 54px;
    font-size: 18px;
    line-height: 54px;
  }
}

/* mobile narrow
-------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
  /* mobile navigation
 -------------------------------------------------------------------- */
  #nav-wrap ul#nav {
    width: auto;
    float: none;
  }

  #nav-wrap > h3 {
    display: none;
  }

  /* header styles
 -------------------------------------------------------------------- */

  header {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6),
        rgba(111, 155, 128, 0.4),
        rgba(255, 255, 255, 1)
      ),
      url("./images/headerPictureSmall.png");
    height: 660px;
  }

  header .banner {
    margin-top: -300px;
    display: inline-block;
  }

  header .banner h3 {
    font-size: 24px;
  }

  header .banner-text {
    padding-top: 100px;
    font-family: "alex-regular";
    font-size: 56px;
  }

  hr.bookends {
    max-width: 100%;
  }

  #about img.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  #about img.lokiImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0px;
  }

  #about div.inlineFlex {
    display: block;
  }

  #about div.info.loki {
    margin: 0px;
    padding-left: 0px;
  }

  #about div.info.left {
    text-align: right;
    display: none;
  }

  #about div.info.right {
    text-align: left;
    display: none;
  }

  #about div.mobileInfo {
    display: initial;
  }

  /* footer
 ------------------------------------------------------------------------ */

  .footerTransition {
    display: none;
  }

  .footerTransitionMobile {
    display: initial;
    margin-bottom: -4px;
    margin-top: -420px;
  }
}
